.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../icones/menu.svg");
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
}

.cabecalho{
    background-color: var(--cor01);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 30px 10px;
}

.cabecalho__menu{
    display: flex;
    align-items: center;
}

.cabecalho__imagem{
    padding: 1em;
}

.cabecalho__botao{
    display: none;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.cabecalho__botao:checked~.lista__menu{
    display: block;
}

.lista-menu__item{
    padding: 1em;
    background-color: var(--cor01);
}

.lista-menu__link{
    background-color: var(--cor04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 2px black;
}

.cabecalho__nome{
    font-family: var(--fonte-nome), cursive;
    text-align: center;
}