.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../icones/menu.svg");
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
}

.cabecalho{
    background-color: var(--cor01);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 30px 10px;
}

.cabecalho__menu{
    display: flex;
    align-items: center;
}

.cabecalho__imagem{
    padding: 1em;
}

.cabecalho__botao{
    display: none;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.cabecalho__botao:checked~.lista__menu{
    display: block;
}

.lista-menu__item{
    padding: 1em;
    background-color: var(--cor03);
}

.lista-menu__link{
    background-color: var(--cor01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cabecalho__nome{
    font-family: var(--fonte-nome), cursive;
    text-align: center;
    color: var(--cor03);
    text-shadow: 2px 2px 2px var(--cor04);
}



@media screen and (min-width:769px){
    .cabecalho{
        height: 150px;
        justify-content: center;
    }
    .cabecalho__imagem{
        display: none;
        align-items: flex-start;
    }
    .lista__menu{
        display: flex;
        list-style-type: none;
        gap: 15px;

    }
    .lista-menu__link{
        color: white;

    }

    .lista-menu__item{
        padding: 1em;
        background-color: var(--cor04);
        color: white;
    }
}